.login-container {
  background-image: url("../../../assets/Images/Pattern_darkblue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: hard-light;
  background-attachment: fixed;
}
