@font-face {
  font-family: "Univers-Regular";
  src: url("../assets/fonts/Univers/Univers-Next-Arabic.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Univers-Light";
  src: url("../assets/fonts/Univers/Univers-Next-Arabic-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Univers-Semibold";
  src: url("../assets/fonts/Univers/Univers-Next-Arabic-Bold.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Univers-Bold";
  src: url("../assets/fonts/Univers/Univers-Next-Arabic-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EMprint-Regular";
  src: url("../assets/fonts/EMprint/EMprint-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EMprint-Light";
  src: url("../assets/fonts/EMprint/EMprint-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EMprint-Semibold";
  src: url("../assets/fonts/EMprint/EMprint-Semibold.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EMprint-Bold";
  src: url("../assets/fonts/EMprint/EMprint-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
